header {
	text-align: center;
	position: relative;
}

.img {
	max-width: 186px;
	height: 84px;
	top: 18px;
	left: 106px;
	margin-left: 10.6rem;
}

nav {
	display: flex;
	flex-direction: row;
	/* justify-content: space-between; */
	border: 2px solid red;
	font-size: 2rem;
	padding: 1rem;
}

.navbar__links {
	align-items: center;
	margin-left: 30rem;
}

.navbar__links ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

.navbar__links li {
	list-style: none;
}

.navbar__links li button {
	text-decoration: none;
	margin-top: 3rem;
	padding: 1rem 2rem;
	margin-left: 1rem;
	margin-right: 6rem;
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 2rem;
	font-weight: 600;
}
.span {
	background-color: #fe5c2b;
	padding: 0.5rem 1rem;
	border-radius: 2rem;
	font-weight: 100;
	font-size: 1.3rem;
	color: white;
	margin-bottom: 10rem;
}
